
*{
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
body {
    font:400 14px/1.5 "Hind", serif;
    color: #565655;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #bd2631;
}
.background1 {
    background: #ededed;
}
.address-block {
    padding-left:100px;
    float: left;
    font-size: 15px;
}
.address-block  div {
    display: inline-block;
    margin-right: 25px;
}
.phone i, .address i{
    font-size: 20px;
    margin:0 5px;
    font-weight: bold;
    color: black;
}
.social {
    float: right;
    padding: 4px 100px 0 0;
}
.social li {
    margin-left: 23px;
    display: inline-block;
}
.city {
    padding: 6px 10px;
    background: #000;
    color: #fff;
    border-radius: 3px;
}
.city i {
    padding-left: 10px;
    font-size: 20px;
}
.header-top {
    background: #ededed;
    padding: 14px 0 12px;
}

/*logo*/
.header-logo {
    padding: 30px 100px 26px;
}
.logo{
    float: left;
}

.second {
    float: right;
    display: block;
    padding-top: 8px;
}
.second li {
    float: left;
    padding-right: 25px;
    border-right: 1px solid #e6e6e6;
    margin-right: 15px;
}
.second p {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: normal;
    display: inline-block;
}
.second p > span {
    display: block;
}
.title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.second li p:first-of-type {
    float: left;
    margin-right: 5px;
    color: #000;
    font-size: 18px;
}
.second li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

/*menu*/
.gamburger-menu{
    color: #bd2631;
    font-size: 20px;
    visibility: hidden;
}
nav {
    padding: 24px 0 20px 100px;
    float: left;
}
.blackground{
    background: #070302;
}
nav ul {
    padding: 0;
    font-size: 16px;
}
nav li {
    float: left;
    display: inline-block;
    margin-right: 32px;
}
nav a {
    color: #fff;
    text-transform: uppercase;
}
nav li :hover {
    border-bottom: solid #bd2631;
    color: #bd2631;
}
.search {
    padding: 20px 100px 0 0;
    float: right;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
}
.search :hover {
    color: #bd2631;
}

/*pictures*/

.pictures {
    /*max-width: 1400px;*/
    margin: 0 auto;
}
.pictureLine1 div, .pictureLine2 div, .pictureLine3 div{
    height: 452px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float:left;
}

.pic-1{
    background: url("../img/Pic-1.png") no-repeat #000;
    background-size: cover;
    width: 50%;
}
.pic-2{
    background: url("../img/Pic-2.png") no-repeat #fff;
    background-size: cover;
    width: 25%;
}
.pic-3{
    background: url("../img/Pic-3.png") no-repeat #fff center;
    width: 25%;
}
.pic-4{
    background: url("../img/Pic-4.png") no-repeat;
    background-size: cover;
    width: 25%;
}
.pic-5{
    background: url("../img/Pic-5.png") no-repeat #fff center;
    width: 25%;
}
.pic-6{
    background: url("../img/Pic-6.png") no-repeat #000;
    background-size: cover;
    width: 50%;
}
.pic-7{
    background: url("../img/Pic-7.png") no-repeat #000;
    background-size: cover;
    width: 50%;
}
.pic-8{
    background: url("../img/Pic-8.png") no-repeat #f00 center;
    width: 25%;
}

.pic-9 {
    background: url("../img/Pic-9.png") no-repeat;
    background-size: cover;
    width: 25%;
}
h2 {
    color: red;
    margin: 160px 100px 30px;
    font: 30px/1.5 "Hind";
}
.pictures p {
    color: #fff;
    margin: 0 100px;
}
* {
    /*border: solid red 1px;*/
}

/*RESPONSIVE   */
@media screen and (max-width: 1183px) {
    .address-block {
        padding-left: 20px;
    }
    .address-block div {
        display: block;
    }
    .city {
        width: 110px;
    }
    .social {
        padding-right: 20px;
    }
    .header-logo {
        padding: 30px 20px 26px;
    }
    nav {
        padding-left: 20px;
    }
    .search {
        padding-right: 20px;
    }
}

@media screen and (max-width: 830px) {
    .logo,
    .second {
        float: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .second {
        padding-left: 100px;
    }
    .second li {
        display: inline-block;
        text-align: center;
    }
    nav li a{
        font-size: 14px;
    }
    nav li {
        margin-right: 15px;
    }
    .pic-1, .pic-6, .pic-7{
        width: 100%;
    }
    .pic-2, .pic-3, .pic-4, .pic-5, .pic-8, .pic-9 {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .address-block{
        width: 50%;
        font-size: 14px;
    }
    .second ul li {
        margin: 0 auto;
        padding: 0;
        border: none;
        text-align: center;
    }
    .logo {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .second {
        padding-left: 50px;
    }
    nav {
        display: none;
    }
    .gamburger-menu {
        padding: 15px;
        visibility: visible;
    }
    .search {
        padding: 15px;
    }
}


@media screen and (max-width: 500px) {

    .address-block, .address-block div .social, .city {
        width: 90%;
        font-size: 14px;
        text-align: left;
    }
    .city {
        margin-right: 20px;
    }
    .social {
        display: inline-block;
        float: none;
        width: 90%;
        padding-left: 5px;
    }
    .second {
        padding-left: 20px;
    }
    .second ul li {
        float: none;
        display: block;
        text-align: left;
    }
    .logo a img{
        width: 80%;
        height: auto;
    }
    .h2, .pictures p {
        margin: 20px;
    }
}
@media screen and (max-width: 370px) {
    .pic-1, .pic-2, .pic-3, .pic-4, .pic-5, .pic-6, .pic-7, .pic-8, .pic-9 {
        width: 100%;
    }
    .logo a img{
        width: 90%;
        height: auto;
    }
}





