
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #bd2631;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

body {
    font: 14px/1.5 'Hind';

    /*margin: 0 auto*/
}

.border {
    color: #565655;
    /*padding: 10px 0;*/
    max-width: 1128px;
    margin: 0 auto;
}

header {

    /*margin: 0 auto 15px;*/
}
.background1 {
    background: #ededed;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.address-block {
    /*padding: 0;*/
    float: left;
    font-size: 16px;


}

.address-block > div {
    display: inline-block;
    margin-right: 25px;



}


.social {
    float: right;
    padding: 4px;
}

.social li {
    margin-left: 23px;
    display: inline-block;
}

.city {
    padding: 6px 17px;
    background: #000;
    color: #fff;
    border-radius: 3px;
}

.header-top {
    background: #ededed;
    padding: 13px 0;


}
.header-logo {
    padding: 30px 0;

}
.second {
    float: right;
    display: block;
}

.second li {
    float: left;
    padding-right: 25px;
    border-right: 1px solid #e6e6e6;
    margin-right: 15px;
}

.second p {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: normal;
    display: inline-block;


}
.second p > span {
    display: block;
}

.title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.second li p:first-of-type {
    float: left;
    margin-right: 5px;
    color: #000;
    font-size: 18px;
}


.second li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

nav {
    padding: 15px 0;

}
.blackground{
    background: black;
}

#menu {
    padding: 0;
    font-size: 16px;
    display: block;
    float: left;

}

#menu li {
    float: left;
    display: block;
    margin-right: 35px;
}

#menu a {
    color: #ffffff;
    text-transform: uppercase;
}

.left li:hover{
    border-bottom: solid red;
}



.right {
    float: right;
}
.fa-search {
    font-size: 18px;
    color: #ffffff;
}
*{
    /*border: solid red 1px;*/
}
